
/*seg_smartphone_include.css*/

/*s-fonts.css*/
@font-face {
	font-family: 'GT America';
	src: url('/css/fonts/GT-America-Expanded-Black.woff2') format('woff2'),
	 	 url('/css/fonts/GT-America-Expanded-Black.woff') format('woff'),
		 url('/css/fonts/GT-America-Expanded-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Kalam Bold';
	src: url('/css/fonts/kalam-bold-webfont.woff2') format('woff2'),
	 	 url('/css/fonts/kalam-bold-webfont.woff') format('woff'),
		 url('/css/fonts/kalam-bold-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}


/*s-page.css*/
* {font-family: "GT America", Verdana, Arial, sans-serif; color: #000000;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {min-height: 100%;}
body {background: #ffee88 url("/img/bg_gradient.jpg") no-repeat center center; margin: 0; overflow: hidden;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: 900;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px; color: #333333;}
input, textarea {outline: none;}
a, span {font-size: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
em, strong {font-size: inherit; font-family: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
h1 {padding: 0 50px; font-size: 60px; line-height: 1.05em;}
h2 {padding: 0 50px 30px; font-size: 30px; line-height: 1.1em;}
h3 {padding: 0 50px 10px; font-size: 20px; line-height: 1.25em;}
p {padding: 0 50px 40px; font-size: 22px; line-height: 1.6em;} 
ul,
ol {font-size: 0;}
li {font-size: 18px; line-height: 1.25em;}
dl {font-size: 0;} 
dt, 
dd {display: inline-block; vertical-align: top; font-size: 13px; line-height: 1.25em;}
#page {position: relative; min-height: 100%; min-width: 100%;}


/*s-header.css*/
#header {position: relative;}


/*s-footer.css*/
#footer {}
#footer p {padding: 10px; cursor: pointer;}

/*s-content.css*/
#content {position: relative; height: 0; overflow: hidden;}
#content .scene {position: relative; padding: 0;}
#content .scene .link {cursor: pointer;}
#content .scene a {color: #888888;}
#content .scene h1,
#content .scene h2,
#content .scene h3,
#content .scene h4,
#content .scene h5,
#content .scene h6,
#content .scene p {margin: 0 auto; text-align: center;}
@media screen and (max-width: 600px) {
	#content .scene h1 {padding: 0;}
}
@media screen and (min-width: 1200px) {
	#content .scene p {width: 800px}
}
#content .scene h1,
#content .scene h2 {color: #082E4C;}
#content .scene div.audioplayer {width: 50px; height: 50px;}
#content .scene div.circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	transform: rotate(-90deg);
}
#content .scene p {
	font-family: "Kalam Bold", Verdana, Arial, sans-serif; color: #082E4C;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
#content .scene .cookie-notice {
	z-index: 10;
	position: absolute;
	right: 0;
	bottom: 20px;
	width: 297.75px;
	height: 228px;
	background: url(../../../img/gx_cloud_front_right4.png) center center no-repeat;
	background-size: contain;
}
#content .scene .cookie-notice p {
	position: absolute;
	padding: 0;
	width: fit-content;
}
#content .scene .cookie-notice .cookie-text {
	top: 100px;
	right: 25px;
}
#content .scene .cookie-notice .cookie-accept {
	right: 65px;
	bottom: 40px;
	font-size: 20px;
}
#content .scene .cookie-notice a {
	position: absolute;
	right: 18px;
	bottom: 80px;
	font-size: 14px;
}
@media screen and (max-width: 360px) {
	#content .scene .cookie-notice { bottom: 40px; width: 198.5px; height: 152px;}
	#content .scene .cookie-notice .cookie-text {top: 60px; right: 10px;}
	#content .scene .cookie-notice .cookie-accept {right: 50px; bottom: 25px;}
	#content .scene .cookie-notice a {right: 10px; bottom: 53px;}
}


/*s-form.css*/
#content {}
#content form {
}
#content fieldset {border: none; display: block;}
#content .field {padding: 0 48px 15px; position: relative; font-size: 0; z-index: 1;}
#content label {display: none;}
#content .field input,
#content .field select,
#content .field textarea {box-shadow: inset 0 1px 2px #dedede; background: #ffffff; border: 1px solid #dcdcdc; display: inline-block; vertical-align: top; border-radius: 3px; margin: 2px; outline: none; position: relative; z-index: 1;}
#content .field input {width: 366px; height: 24px; padding: 2px 6px;}
#content .field select {width: 381px; height: 33px; color: #333333; padding: 5px 3px 2px 2px;}
#content .field select option {padding: 5px 3px 2px 6px;}
@media all and (-webkit-min-device-pixel-ratio:0) {
	#content .field select {width: 380px; height: 31px; padding: 2px 3px 2px 7px; 
		background: #ffffff url(/janitor/admin/img/bg_icons.png) no-repeat 360px -977px;
		-webkit-appearance: none;
	}
}
#content .field textarea {width: 372px; height: 100px; overflow: auto; padding: 6px 0 2px 6px;}
#content .field.short textarea {height: 40px;}
#content .field textarea.autoexpand {width: 366px; padding: 6px 6px 2px; overflow: hidden;}
#content .field .pseudolabel {position: absolute; font-size: 14px; display: inline-block; padding: 5px 6px; z-index: 2;}
#content .field.checkbox,
#content .field.boolean {}
#content .field.checkbox input,
#content .field.boolean input {display: inline-block; vertical-align: top; width: auto; height: auto; padding: 0; margin: 1px 10px 0 3px; border: 0;}
#content .field.checkbox label,
#content .field.boolean label {width: auto; display: inline-block; vertical-align: top; font-size: 14px; line-height: 1em;}
#content .field.radiobuttons {}
#content .field.radiobuttons > label {display: block; font-size: 14px; line-height: 1em; padding: 0 0 0 3px;}
#content .field.radiobuttons > label:after {content: ":";}
#content .field.radiobuttons div.item {padding: 10px 0 0;}
#content .field.radiobuttons div.item input {width: auto; height: auto; padding: 0; margin: 1px 10px 0 3px; border: 0;}
#content .field.radiobuttons div.item label {font-size: 14px; line-height: 1em; display: inline-block; vertical-align: top; text-align: left; width: auto;}
#content .field.files {border: 3px dashed #dedede; display: block; width: 378px; border-radius: 5px; position: relative; margin: 2px 48px 17px; padding: 0;}
#content .field.files input[type=file] {opacity: 0; width: 360px; height: 49px; margin: 0; border: 0;}
#content .field.files label {color: #333333; font-size: 14px; display: block; position: absolute; width: 120px; left: 50%; padding: 1px 4px 3px; margin: 16px 0 0 -60px; text-align: center; border-radius: 6px; background: #dedede;}
#content .field.files.loading label {display: none;}
#content .field.files.loading {background: transparent url(/janitor/admin/img/gx_loader.gif) no-repeat center center;}
#content .field.focus input,
#content .field.focus textarea {margin: 0;}
#content .field.focus select {padding: 4px 3px 1px 0px;}
@media all and (-webkit-min-device-pixel-ratio:0) {
	#content .field.focus select {padding: 2px 3px 3px 5px;
		background-position: 358px -979px;
	}
}
#content .field.focus input,
#content .field.focus select,
#content .field.focus textarea {border: 3px solid #5c5c5c;}
#content .field.radiobuttons.focus input,
#content .field.checkbox.focus input,
#content .field.boolean.focus input {margin: 1px 10px 0 3px; border: none;}
#content .field.files.focus {border-color: #c8e183;}
#content .field.files.focus input[type=file] {margin: 0; border: none;}
#content .field.files.focus label {background-color: #c8e183;}
#content .field input.default,
#content .field select.default,
#content .field textarea.default,
#content .field .pseudolabel {color: #aaaaaa;}
#content .field .indicator {position: absolute; top: 4px; left: 435px; width: 25px; height: 25px;}
#content .field.required .indicator { 
	background: transparent url(/janitor/admin/img/bg_icons.png) no-repeat 0 -292px;
}
#content .field.text.required .indicator {background-position: 0 -296px;}
#content .field.radiobuttons .indicator,
#content .field.checkbox .indicator,
#content .field.boolean .indicator {top: -5px;}
#content .field.files .indicator {left: 384px; top: -1px;}
#content .field.correct .indicator {background-position: 2px -320px;}
#content .field.text.correct .indicator {background-position: 2px -321px;}
#content .field.error input,
#content .field.error textarea {margin: 0;}
#content .field.error select {padding: 3px 3px 2px 0px;}
#content .field.error input,
#content .field.error select,
#content .field.error textarea {border: 3px solid #a62300;}
@media all and (-webkit-min-device-pixel-ratio:0) {
	#content .field.error select {padding: 2px 3px 3px 5px;
		background-position: 358px -979px;
	}
}
#content .field.radiobuttons.error input,
#content .field.checkbox.error input,
#content .field.boolean.error input {margin: 1px 10px 0 3px; border: none;}
#content .field.files.error {border-color: #a62300;}
#content ul.actions {}
#content ul.actions li {width: auto; height: auto; display: inline-block; padding: 0 10px 10px 0; vertical-align: top;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#content ul.actions input.button {width: auto; height: 28px; padding: 3px 9px; display: inline-block; vertical-align: top;}
@media all and (-webkit-min-device-pixel-ratio:0) {
	#content ul.actions input.button {padding: 3px 12px 5px;}
}
#content ul.actions a.button {display: block; text-decoration: none; height: 14px; padding: 6px 12px 8px;}
#content ul.actions input.button,
#content ul.actions a.button {font-size: 14px; background-color: #dedede; color: #333333; border: none; cursor: pointer; border-radius: 3px;}
#content ul.actions input.button.primary,
#content ul.actions a.button.primary {background-color: #8c9399; color: #ffffff;}
#content ul.actions input.button.secondary,
#content ul.actions a.button.secondary {background-color: #8c9399; color: #ffffff;}
#content .field div.help {position: absolute; left: 455px; top: 6px; width: 200px;}
#content .field.files div.help {left: 404px;}
#content .field div.error,
#content .field div.hint {display: none; padding: 5px; border-radius: 3px; font-size: 12px; margin-top: -3px;}
#content .field div.error {border: 1px solid #a62300; color: #a62300; background: #ffddd5;}
#content .field.error div.error {display: block;}
#content .field div.hint {z-index: 9; border: 1px solid #007633; color: #007633; background: #d0f4e0;}
#content .field.focus div.hint,
#content .field.hover div.hint {display: block;}


/*s-hovers.css*/
#header .logo:hover,
#navigation ul li:hover {text-decoration: none;}
#content .scene a:hover {text-decoration: underline;}
#content ul.actions input.button:hover,
#content ul.actions a.button:hover {background-color: #bebebe;}
#content ul.actions input.button.primary:hover,
#content ul.actions a.button.primary:hover {background-color: #313942;}
#content ul.actions input.button.secondary:hover,
#content ul.actions a.button.secondary:hover {background-color: #313942;}


/*s-letter.css*/
#content .scene div.letter {opacity: 0; overflow-y: auto; 
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
#content .scene div.letter ul.info {display: none;}
#content .scene div.letter div.articlebody {padding: 100px 0;}
#content .scene div.letter h1 span,
#content .scene div.letter p span {display: inline-block;}
#content .scene div.letter div.center {
	width: 640px;
	margin-left: -320px;
	text-align: center;
}
#content .scene div.letter div.center img {
	display: inline-block;
}
#content .scene div.letter div.clouds {
	overflow: hidden;
}
#content .scene div.letter div.cloud {
	opacity: 0;
}
#content .scene div.letter ul.language_selector {
	position: absolute;
	right: 3%;
	top: 3%;
	opacity: 0;
}
#content .scene div.letter ul.language_selector li {
	display: inline-block;
	margin-right: 10px;
	padding: 0 0.2em;
	padding-bottom: 3px;
}
#content .scene div.letter ul.language_selector li.active.language {
	border-bottom: 1px solid;
	color: #082e4c;
}
#content .scene div.letter ul.language_selector li.inactive.language a {
	text-decoration: none;
	color: #253a47;
}

/*s-sides.css*/
#content .scene div.side {position: relative; opacity: 0; height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#content .scene div.side canvas {width: 100%;}
#content .scene div.side h2.song_title {position: absolute; font-size: 70px; color: #082E4C; opacity: 0; left: 0; width: 100%; padding: 0; text-align: center;}
#content .scene div.side h3.side_title,
#content .scene div.side h3.track_status,
#content .scene div.side h3.time_status {position: absolute; opacity: 0; font-size: 14px; color: #082E4C; padding: 0; left: 0; width: 100%; text-align: center;}
#content .scene div.side.loading h3.time_status {text-indent: -9999px; height: 30px;
	background: transparent url(/img/gx_loader.gif) no-repeat center center;
	background-size: 30px auto;
}
#content .scene div.side.requires_action div.play {position: absolute; opacity: 0; font-size: 20px; background: #f0bd18; color: #ffffff; padding: 5px 10px; border-radius: 5px; display: inline-block; width: 120px;
	text-transform: uppercase; left: 50%; margin-left: -70px; text-align: center; cursor: pointer;
}
#content .scene div.side ul {
	display: none;
}
#content .scene .side .cloud {
	z-index: -10;
	position: absolute;
}
#content .scene .side .cloud.left {
	left: 0;
}
#content .scene .side .cloud.right {
	right: 0;
}
#content .scene .side .cloud.top {
	top: 0;
}
#content .scene .side .cloud.middle {
	top: 30%;
}
#content .scene .side .cloud.bottom {
	bottom: 0;
}
#content .scene .side .cloud img {
	animation-name: cloudUpDown;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
#content .scene .side .cloud.left.top img {
	animation-delay: 1.6s;
	animation-duration: 5s;
}
#content .scene .side .cloud.left.middle img {
	animation-delay: 1.2s;
	animation-duration: 7s;
}
#content .scene .side .cloud.left.bottom img {
	animation-delay: 1.8s;
	animation-duration: 6s;
}
#content .scene .side .cloud.right.top img {
	animation-delay: 0.8s;
	animation-duration: 6.5s;
}
#content .scene .side .cloud.right.middle img {
	animation-delay: 0.6s;
	animation-duration: 5.5s;
}
#content .scene .side .cloud.right.bottom img {
	animation-delay: 1s;
	animation-duration: 7.5s;
}
@keyframes cloudUpDown {
	from {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-25px);
	}
	to {
		transform: translateY(0px);
	}
}


/*s-intermezzo.css*/
#content .scene div.intermezzo {opacity: 0; height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#content .scene div.intermezzo div.table {display: table; width: 100%; height: 100%;}
#content .scene div.intermezzo div.cell {display: table-cell; vertical-align: middle;}
#content .scene div.intermezzo p {z-index: 15; padding-top: 20px; padding-bottom: 20px;}
#content .scene .intermezzo .cloud {
	z-index: -1;
	position: absolute;
}
#content .scene .intermezzo .cloud.left {
	left: 0;
}
#content .scene .intermezzo .cloud.right {
	right: 0;
}
#content .scene .intermezzo .cloud.top {
	top: 0;
}
#content .scene .intermezzo .cloud.middle {
	top: 30%;
}
#content .scene .intermezzo .cloud.bottom {
	bottom: 0;
}
#content .scene .intermezzo .cloud img {
	animation-name: cloudUpDown;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
#content .scene .intermezzo .cloud.left.top img {
	animation-delay: 1.6s;
	animation-duration: 5s;
}
#content .scene .intermezzo .cloud.left.middle img {
	animation-delay: 1.2s;
	animation-duration: 7s;
}
#content .scene .intermezzo .cloud.left.bottom img {
	animation-delay: 1.8s;
	animation-duration: 6s;
}
#content .scene .intermezzo .cloud.right.top img {
	animation-delay: 0.8s;
	animation-duration: 6.5s;
}
#content .scene .intermezzo .cloud.right.middle img {
	animation-delay: 0.6s;
	animation-duration: 5.5s;
}
#content .scene .intermezzo .cloud.right.bottom img {
	animation-delay: 1s;
	animation-duration: 7.5s;
}
@keyframes cloudUpDown {
	from {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-25px);
	}
	to {
		transform: translateY(0px);
	}
}


/*s-finale.css*/
#content .scene div.finale {
	opacity: 0; 
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#content .scene div.finale div.table {display: table; width: 100%; height: 100%;}
#content .scene div.finale div.cell {display: table-cell; vertical-align: middle;}
#content .scene div.finale p {padding-top: 20px; padding-bottom: 20px;}
#content .scene div.finale p span {text-decoration: underline; cursor: pointer;}
#content .scene .finale .cloud {
	z-index: -1;
	position: absolute;
}
#content .scene .finale .cloud.left {
	left: 0;
}
#content .scene .finale .cloud.right {
	right: 0;
}
#content .scene .finale .cloud.top {
	top: 0;
}
#content .scene .finale .cloud.middle {
	top: 30%;
}
#content .scene .finale .cloud.bottom {
	bottom: 0;
}
#content .scene .finale .cloud img {
	animation-name: cloudUpDown;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
#content .scene .finale .cloud.left.top img {
	animation-delay: 1.6s;
	animation-duration: 5s;
}
#content .scene .finale .cloud.left.middle img {
	animation-delay: 1.2s;
	animation-duration: 7s;
}
#content .scene .finale .cloud.left.bottom img {
	animation-delay: 1.8s;
	animation-duration: 6s;
}
#content .scene .finale .cloud.right.top img {
	animation-delay: 0.8s;
	animation-duration: 6.5s;
}
#content .scene .finale .cloud.right.middle img {
	animation-delay: 0.6s;
	animation-duration: 5.5s;
}
#content .scene .finale .cloud.right.bottom img {
	animation-delay: 1s;
	animation-duration: 7.5s;
}
@keyframes cloudUpDown {
	from {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-25px);
	}
	to {
		transform: translateY(0px);
	}
}

